$font-stack: Helvetica, sans-serif;
$primary-font-color: red;

body {
  font: 100% $font-stack;
  color: $primary-font-color;
  background-color: black;
}

.landing {
  height: 90%;
  background-image: url("https://writeofmind.files.wordpress.com/2014/05/creepy-dark-forest-wide.jpg");
  background-position: center;
  display: grid;
  grid-template-rows: 47% 6% 47% ;
  grid-template-columns: 1fr 1fr 1fr;
}


#land-h1 {
    grid-column-start: 2;
    color: white;
}

#countdown {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;
  font-family: fantasy;
  font-size: 43px;
  background-color: black;
  background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
  width: 400px;
  border: 1px solid black;
  border-radius: 3000000px;
  padding-top: 5px;
  // margin-left: 40%;
}


.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  font-size: 30px;
  a {
    text-decoration: none;
    color: red;
  }
  a:hover {
    text-decoration: underline;
    color: pink;
  }
}

/*********************************************
MEDIA styles
****/


.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.media-h1 {
  color: white;
  height: 20%;
}


#reviews {
}

.testimonials {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  height: 80%;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
}

#first-image {
  grid-column-start: 2;
  grid-row-start: 1;
}

#first-review {
  grid-column-start: 3;
}

#second-image {
  grid-row-start: 2;
  grid-column-start: 3;
}

#second-review {
  grid-row-start: 2;
  grid-column-start: 2;
}



/***************************************************
DEV styles
*/

body {
  text-align: center;
}

.blog-post {

}

.the-team {
  height: 50%;
  img {
    max-width: 750px;
  }
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    width: 45%;
  }
}
